@import '/src/styles/globalStyles.scss';

.arrow {
  position: absolute;
}

.navTag {
  position: absolute;
  font-weight: bolder;
  font-style: normal;
  font-size: 1.5rem;
  opacity: 0;
}

.navigator {
  position: absolute;

  &__blinker {
    position: absolute;
    opacity: 0;
  }

  &__arrowToRight {
    @extend .arrow;

    &__navTag {
      @extend .navTag;
    }
  }

  &__arrowToLeft {
    @extend .arrow;
    &__navTag {
      @extend .navTag;
    }
  }

  &__arrowToTop {
    @extend .arrow;
    &__navTag {
      @extend .navTag;
    }
  }

  &__arrowToBottom {
    @extend .arrow;
    &__navTag {
      @extend .navTag;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__blinker {
    animation: blink 0.7s infinite linear;
  }

  &:hover &__arrowToRight {
    animation: arrowToRight 0.7s infinite linear;
    &__navTag {
      opacity: 1;
    }
  }

  &:hover &__arrowToLeft {
    animation: arrowToLeft 0.7s infinite linear;
    &__navTag {
      opacity: 1;
    }
  }

  &:hover &__arrowToTop {
    animation: arrowToTop 0.7s infinite linear;
    &__navTag {
      opacity: 1;
    }
  }

  &:hover &__arrowToBottom {
    animation: arrowToBottom 0.7s infinite linear;
    &__navTag {
      opacity: 1;
    }
  }

  @keyframes blink {
    to {
      opacity: 1;
    }
  }

  @keyframes arrowToRight {
    to {
      right: 1.5rem;
      opacity: 0.8;
    }
  }

  @keyframes arrowToLeft {
    to {
      left: 1.5rem;
      opacity: 0.8;
    }
  }

  @keyframes arrowToTop {
    to {
      top: 1.5rem;
      opacity: 0.8;
    }
  }

  @keyframes arrowToBottom {
    to {
      bottom: 1.5rem;
      opacity: 0.8;
    }
  }

  @media (max-width: $mobile-or-tablet-screen) {
  }
}
