@use "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.headerMenu {
  width: 100%;
  height: 100px;
  background: $primary-color;

  &__logo {
    @include mixins.flex(flex-start, center, row);
  }

  &__navbar {
    background: $primary-color;
  }

  &__buttons {
    @include mixins.flex(flex-end, center, row);

    &__contactMe {
      @include mixins.flex(center, center, row);
      font-family: $font-secondary;
      border-radius: 20px;
      color: white;
      background: transparent;
      padding: 10px 25px;
    }
  }

  &__title {
    color: $primary-color !important;
    font-family: $font-primary;
    letter-spacing: 1px;
    margin: 0.5em 0;
  }

  @include mixins.respond(phone) {
    // position: fixed;
    // top: 0;
  }

  @include mixins.respond(tab-land) {
    padding: 0 2px;
  }
}
