@use "/src/styles/mixins";
@import "/src/styles/variables";

.techTag {
    border: 1px solid $accent-color;
    border-radius: 20px;
    padding: 10px 16px;
    font-size: 1.4rem;

    &__icon {
        @include mixins.flex(center, center, row);
    }

    @include mixins.respond(phone) {
        font-size: 1rem;
    }
}
