@use "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.about-page__container__content__contactMe {
  position: relative;
  background: $primary-bg-color;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
  flex: 1;
  transition: all 0.5s ease-in;
  height: 100%;

  &__header {
    height: 100%;
    &__title {
      font-size: 2.5rem;
      font-weight: 900;
      font-family: $font-secondary;
      letter-spacing: 5px;
      color: $secondary-color;

      span {
        display: block;
      }
    }
  }

  &__thankYou {
    font-family: "Dancing Script", sans-serif;
    word-spacing: 1rem;
    font-size: 4vw;
    color: #413b3b;
    opacity: 0;
    visibility: hidden;
  }

  &__form {
    opacity: 0;
    width: 60%;
    transform: translateX(15%);
    pointer-events: visible;
    visibility: hidden;

    &__title {
      font-family: "Dancing Script", sans-serif;
      word-spacing: 1rem;
      font-size: 4vw;
      color: #413b3b;
    }
  }

  svg {
    position: absolute;
    display: block;
    opacity: 0;
    bottom: 15vh;
    font-size: 18rem;
    color: $secondary-color;
    transform: translateX(15%);
    pointer-events: visible;
    visibility: hidden;
  }

  &:hover {
    flex: 3;
    z-index: 1;
    box-shadow: 4px 4px 40px 2px rgba(0, 0, 0, 0.6), -10px -8px 40px 2px rgba(0, 0, 0, 0.4);

    svg {
      animation: contact-me-svg 0.25s ease-in 0.4s 1 forwards;
      visibility: visible;
    }
  }

  &:hover &__thankYou {
    animation: contact-me 0.25s ease-in 0.4s 1 forwards;
    visibility: visible;
  }

  &:hover &__form {
    animation: contact-me 0.25s ease-in 0.4s 1 forwards;
    visibility: visible;
  }

  @include mixins.respond(tab-land) {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 0;
    width: 100%;
    height: 100%;

    &__header {
      &__title {
        font-size: 1.5rem;
      }
    }

    svg {
      display: none;
    }

    &:hover {
      flex: 5;
    }
  }

  @keyframes contact-me {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes contact-me-svg {
    to {
      transform: translateX(0) skewX(-5deg) rotate(-10deg);
      opacity: 0.4;
    }
  }
}
