@use "/src/styles/mixins";
@import "/src/styles/typography";
@import "/src/styles/variables";

.project {
}

.projectHeader {
  border-top: 2px solid white;
  padding: 12px 5px;
  height: 150px;

  &__title {
    @extend .header;
    color: white !important;
    font-size: 3.8rem !important;
  }

  &__button {
    @include mixins.flex(flex-end, flex-start, row);

    &__icon {
      transform: rotate(45deg);
      width: 48px;
      height: 48px;
      fill: #ad9f00;
      background: white;
      border-radius: 50%;
    }
  }
}

.projectImages {
}
