@use "/src/styles/mixins";
@import "/src/styles/typography";
@import "/src/styles/variables";

.card {
  width: 95%;
  height: 50vh;
  border-radius: 1.5rem;
  transition: all 0.3s ease-out;
  overflow: hidden;

  .ant-card-head {
    .ant-tabs-top {
      color: white !important;
    }
  }

  &__inner {
    &__image {
      position: absolute;
      height: 100%;
    }

    &__button {
      flex-basis: 8rem;
      border-radius: 50%;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ece9e6;
      text-align: center;
      font-family: "Monoton", cursive;
      color: #2f2f2e;
      font-size: 1.5rem;
      font-weight: bolder;
      box-shadow: -2px 2px 5px rgba(176, 176, 176, 0.2), 2px -2px 5px rgba(176, 176, 176, 0.2),
        -2px -2px 5px rgba(216, 216, 216, 0.9), 2px 2px 13px rgba(176, 176, 176, 0.9),
        inset 1px 1px 2px rgba(216, 216, 216, 0.3), inset -1px -1px 2px rgba(176, 176, 176, 0.5);
    }

    &__top__front {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.65);
      opacity: 0;
      transition: opacity 0.5s ease-out;

      &__title {
        @extend .sub-header;
      }

      &__actionsButtons {
        height: 100%;
      }
    }

    &__bottom__front {
      height: 100%;

      &__title {
        color: $primary-color !important;
        text-align: center;
        text-decoration: underline;
      }
    }

    &:hover &__button {
      animation: card-button 0.5s ease-in-out forwards;
    }

    &:hover &__top__front {
      opacity: 1;
    }
  }

  @include mixins.respond(tab-port) {
    min-height: 20rem;
    min-width: 80vw;
    margin: 10px 0px;
    padding: 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.1);
  }

  @keyframes card-button {
    to {
      transform: scale(0);
    }
  }

  @keyframes card-content {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
