@use "/src/styles/mixins";
@import "/src/styles/typography";
@import "/src/styles/variables";

.project {
}

.projectHeader {
  border-top: 2px solid $tertiary-color;
  padding: 12px 5px;
  height: 150px;

  &__title {
    @extend .header;
    color: #333 !important;
    font-size: 3.8rem !important;
  }

  &__button {
    @include mixins.flex(flex-end, center, row);

    &__gitIcon {
      margin-right: 1.5rem;

      svg {
        @include mixins.flex(center, center, row);
        width: 48px;
        height: 48px;
        fill: #de4c36;
        border-radius: 50%;
        transition: all 0.2s ease-out;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0px 0px 5px 3px #de4c36;
          cursor: pointer;
        }
      }
    }

    &__linkIcon {
      transform: rotate(45deg);
      width: 48px;
      height: 48px;
      fill: #ad9f00;
      background: white;
      border-radius: 50%;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 5px 3px #ad9f00;
        cursor: pointer;
      }
    }
  }
}

.projectImages {
  &__secondSlider {
  }

  &__mainImage {
    @include mixins.flex(center, center, row);
    padding: 5px;
    background: $tertiary-color;
    border-radius: 5px;
  }

  &__card {
    padding: 5px;

    &__image {
      @include mixins.flex(center, center, row);
      background: $tertiary-color;
      padding: 5px;
      border-radius: 5px;
    }
  }
}
