.about-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #696867;
  }

  .profile-pic {
    position: absolute;
    top: 20vh;
    left: 10vw;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("assets/pic.jpg");
    background-size: cover;
    background-position: center;
  }