$primary-color: #886c57;
$secondary-color: #413b3b;
$primary-bg-color: linear-gradient(to right, #ffffff, #ece9e6);
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Monoton", cursive;
$nav-button-font-size: '';
$text-primary-font-size: '';
$text-secondary-font-size: '';
$header-font-size: '';
