@import "/src/styles/variables";

.arrow {
  color: $primary-color;
  height: 2.5rem;
  width: 2.5rem;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    color: adjust-color($color: $primary-color, $alpha: 0.7);
  }
}

.carousel {
  svg {
    &[id="prevArrow"] {
      @extend .arrow;
    }

    &[id="nextArrow"] {
      @extend .arrow;
    }
  }
}
