@use "src/styles/mixins";
@import "/src/styles/variables";

.navbar {
  @include mixins.flex(center, center, row);
  width: 100%;
  position: relative;

  li {
    margin: 0 2.5rem;
  }

  @include mixins.respond(tab-land) {
    li {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      svg {
        flex: 1;
        transform: translate(0, 15%);
      }

      span {
        flex: 1;
        line-height: 1.5rem;
        margin-left: 0 !important;
      }
    }
  }
}
