@use "src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.navbar {
  justify-content: center;
  position: relative;
  width: 100%;
  background: $primary-color !important;

  li {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 2.5rem;
    flex: 1;
    border-bottom: 1px solid transparent !important;

    &:hover {
      border-bottom-color: $accent-color !important;
    }

    &:active {
      border-bottom-color: $accent-color !important;
    }
  }

  @include mixins.respond(tab-land) {
    li {
      height: 100%;
    }
  }
}
