.Container-1 {
  position: absolute;
  width: 93vw;
  left: 6vw;
  top: 22vh;
  height: 60vh;
  overflow: hidden;

  &:hover {
    .container-drop-shadow {
      opacity: 1;
    }
  }
}

.container-drop-shadow {
  position: absolute;
  width: 2%;
  height: 100%;
  z-index: 5;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
  opacity: 0;
  transition: 0.2s ease all;
  border-radius: 10px;
}

.page-nav-to-about {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16vh;

  .arrowButton-1 {
    position: fixed;
    bottom: 6%;
    left: 50vw;
    opacity: 0.3;

    .fa-6x {
      font-size: 5vw;
    }

    i::after {
      position: absolute;
      top: 75%;
      right: -5%;
      margin-top: 0.625rem;
      content: attr(data);
      color: #696867;
      font-weight: bolder;
      font-size: 1.3rem;
      font-style: normal;
      display: block;
      opacity: 0;
    }
  }

  .page-nav-to-about__icon {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 0.1vh;
    background-color: #696867;
    opacity: 0.3;
    border-top-left-radius: 99%;
    border-top-right-radius: 99%;
    box-shadow: 0px -15px 45px 20px #696867;
    display: none;
  }

  &:hover {
    cursor: pointer;
    .arrowButton-1 {
      color: rgba(92, 92, 92, 0.8);
      animation-name: arrow-1;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;

      i::after {
        opacity: 1;
      }
    }

    .page-nav-to-about__icon {
      animation-name: blinker-1;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      display: block;
    }
  }
}

@keyframes arrow-1 {
  to {
    bottom: 3%;
    opacity: 0.8;
  }
}

@keyframes blinker-1 {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .Container-1 {
    width: 100vw;
    top: 20vh;
    left: 0;
  }

  .container-drop-shadow {
    height: 3%;
    width: 90%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      transparent
    );
    left: 5%;
    opacity: 1;
  }

  .page-nav-to-about {
    top: 86vh;
    right: 35vw;
    height: 13vh;
    width: 20vw;
    bottom: 3vh;

    .arrowButton-1 {
      position: absolute;
      left: 0;
      bottom: 0;

      .fa-6x {
        font-size: 15vw;
      }
    }

    &:hover {
      .page-nav-to-about__icon {
        display: none;
      }
    }
  }
}
