@use "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.projects {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $primary-bg-color;

  &__header {
    margin: 0px;
    text-align: center;
    height: 25%;

    &__text {
      font-size: 6.5rem;
      margin: 0px;
      font-family: $secondary-font-family;
      font-weight: 900;
      background: url("../../assets/header-pic.jpeg") 50% 50%;
      background-size: cover;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  &__slider {
    height: 75%;
  }

  @include mixins.respond(tab-land) {
    &__header {
      &__text {
        font-size: 3rem;
      }
    }
  }
}
