@use "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.projects {
  height: 100%;
  padding-bottom: 5rem;

  &__header {
    @extend .header;
    text-align: center;
    margin: 2.5rem 0 5rem 0;
  }

  &__slider {
    height: 75%;
  }

  @include mixins.respond(tab-land) {
    &__header {
      &__text {
        font-size: 3rem;
      }
    }
  }
}
