@use "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.projects {
  height: auto;
  // background: $primary-bg-color;
  padding-bottom: 8rem;

  &__header {
    @extend .header;
    color: #333;
    text-align: center;
    margin: 5rem 0;
  }

  &__works {
    padding: 0 0 15px 0;
  }

  @include mixins.respond(tab-land) {
    &__header {
      &__text {
        font-size: 3rem;
      }
    }
  }
}
