.projects-p-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: $primary-bg-color;
}

.project-container {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.side-navbar2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 31vh;
  left: -0.2vw;
  width: 5vw;
  height: 40vh;
  background-color: transparent;
  z-index: 3;

  i {
    a {
      text-decoration: none;
    }
  }

  .button-icons {
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: transform 0.2s;
    margin-bottom: 10px;

    &:hover {
      opacity: 1;
      transform: scale(1.08);
    }
  }

  $icons: 0 #886c57 #008000 0.65rem -0.1rem, 1 #413b3b #720058 1.1rem -0.25rem,
    2 #886c57 #4267b2 0.625rem 0, 3 #413b3b #bd2c00 0.625rem 0,
    4 #886c57 #0077b5 0.8rem -0.18rem;

  @each $name, $clr1, $clr2, $padding-left, $left in $icons {
    .icon#{$name} {
      @if $name == 0 {
        #link#{$name} {
          color: $clr1;
          opacity: 0.7;
          transition: all 0.2s;
          &:hover {
            color: $clr2;
            border-left: 2px solid $clr2;
          }
        }
        &:hover {
          left: 0.28rem;
        }
      } @else if $name == 1 {
        #link#{$name} {
          color: $clr1;
          opacity: 0.7;
          transition: all 0.2s ease-in;
          &:hover {
            color: $clr2;
            transform: scale(1.05);
            border-left: 2px solid $clr2;
          }
        }
        &:hover {
          left: 0;
        }
      }

      padding-left: $padding-left;
      left: $left;
      opacity: 0.7;
      color: $clr1;
      transition: all 0.2s;

      &::after {
        content: attr(data);
        font-family: 'Roboto', serif;
        position: absolute;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.7);
        top: 30%;
        margin-left: 0.625rem;
        padding: 0.1em 0.5em;
        border-radius: 5px;
        transform: translateX(-100%);
        opacity: 0;
        font-size: 1.25rem;
        font-weight: bold;
        font-style: normal;
        color: white;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in;
      }

      &:hover {
        color: $clr2;
        transform: scale(1.1);
        border-left: 2px solid $clr2;

        &::after {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

.header-container {
  position: relative;
  top: 4%;
  left: 40vw;
  width: 25vw;
  height: 12vh;
  margin: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .header {
    flex: 1;
    top: 0;
    left: 0;
    font-size: 6.5vw;
    margin: 0px;
    font-family: 'Monoton', cursive;
    font-weight: 900;
    background: url('../../assets/header-pic.jpeg') 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.div-1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 16vh;

  .arrowButton-1 {
    position: fixed;
    bottom: 6%;
    left: 50vw;
    opacity: 0.3;

    i::after {
      position: absolute;
      top: 75%;
      margin-top: 0.625rem;
      content: attr(data);
      color: #696867;
      font-weight: bolder;
      font-size: 1.3rem;
      font-style: normal;
      display: block;
      opacity: 0;
    }
  }

  .transition-icon-1 {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 0.1vh;
    background-color: #696867;
    opacity: 0.3;
    border-top-left-radius: 99%;
    border-top-right-radius: 99%;
    box-shadow: 0px -15px 45px 20px #696867;
    display: none;
  }

  &:hover {
    cursor: pointer;
    .arrowButton-1 {
      color: rgba(92, 92, 92, 0.8);
      animation-name: arrow-1;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;

      i::after {
        opacity: 1;
      }
    }

    .transition-icon-1 {
      animation-name: blinker-1;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      display: block;
    }
  }

  @keyframes arrow-1 {
    to {
      bottom: 3%;
      opacity: 0.8;
    }
  }

  @keyframes blinker-1 {
    to {
      opacity: 1;
    }
  }
}

.Container-1 {
  position: absolute;
  width: 93vw;
  left: 6vw;
  top: 22vh;
  height: 60vh;
  overflow: hidden;

  &:hover {
    .container-drop-shadow {
      opacity: 1;
    }
  }
}

.container-drop-shadow {
  position: absolute;
  width: 2%;
  height: 100%;
  z-index: 5;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
  opacity: 0;
  transition: 0.2s ease all;
  border-radius: 10px;
}

.container-for-cards {
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-left: 30px;
  padding-right: 30px;

  div[id='0'] {
    margin-left: 1.5rem;
  }

  &::-webkit-scrollbar {
    display: none;

    &-thumb {
      background-color: $primary-color;
      border-radius: 2rem;

      &:hover {
        color: rgba(92, 92, 92, 0.8);
      }
    }
  }
}

.card {
  position: relative;
  min-width: 30rem;
  height: 80%;
  border-radius: 1.5rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  margin-right: 2rem;
  background-position: 100%;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;

  &__button {
    flex-basis: 8rem;
    border-radius: 50%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ece9e6;
    text-align: center;
    font-family: 'Monoton', cursive;
    color: #2f2f2e;
    font-size: 1.5rem;
    font-weight: bolder;
    box-shadow: -2px 2px 5px rgba(176, 176, 176, 0.2),
      2px -2px 5px rgba(176, 176, 176, 0.2),
      -2px -2px 5px rgba(216, 216, 216, 0.9),
      2px 2px 13px rgba(176, 176, 176, 0.9),
      inset 1px 1px 2px rgba(216, 216, 216, 0.3),
      inset -1px -1px 2px rgba(176, 176, 176, 0.5);
  }

  &__top_front {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    transform: translateY(-100%);

    .card-button {
      flex-basis: 30%;
      height: 20%;
      margin: 0 5%;
      border: 2px solid #596164;
      font-family: 'Montserrat', sans-serif;
      border-radius: 10px;
      mix-blend-mode: screen;
      background-color: transparent;
      color: white;
      font-size: 1rem;
      opacity: 0;
      transform: translateY(-100%);

      #card-bt-text {
        margin-left: 10px;
        font-weight: bolder;
      }

      &:hover {
        mix-blend-mode: screen;
        background-color: white;
        border: none;
        color: black;
      }
    }
  }

  &__bottom_front {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: white;
    transform: translateY(100%);

    .title {
      flex: 1;
      font-family: 'Monoton', cursive;
      color: $primary-color;
      letter-spacing: 2px;
      text-align: center;
      text-decoration: underline;
      font-size: 1.8rem;
      margin: 2% 0 0 0;
      opacity: 0;
      transform: translateY(100%)

    }

    .description {
      flex: 1;
      font-family: 'Roboto', sans-serif;
      color: black;
      font-size: 1.2rem;
      text-align: left;
      margin: 0 0 2% 5%;
      transition: opacity 0.4s;
      transition-delay: 0.8s;
      opacity: 0;
      transform: translateY(100%)    }

    ul {
      flex: 1;
      font-family: 'Roboto', sans-serif;
      color: $primary-color;
      font-size: 0.9rem;
      font-weight: bolder;
      text-align: center;
      list-style: none;
      transition: opacity 0.4s;
      transition-delay: 0.8s;
      display: grid;
      justify-content: center;
      align-content: center;
      padding: 0;
      margin: 0;
      grid-template-columns: 25% 25% 25% 25%;
      row-gap: 10px;
      grid-template-rows: auto auto;
      opacity: 0;
      transform: translateY(100%)    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24), 0 4px 8px rgba(0, 0, 0, 0.12);

    .card__button {
      animation: card-button 0.5s ease-in-out forwards;
    }

    .card__top_front {
      animation: card-drop 0.5s ease-in-out 0.2s forwards;

      .card-button {
        animation: card-content 0.4s ease-in-out 0.8s forwards;
      }
    }

    .card__bottom_front {
      animation: card-drop 0.5s ease-in-out 0.2s forwards;

      .title,
      .description,
      .title2,
      ul {
        animation: card-content 0.4s ease-in-out 0.8s forwards;
      }
    }
  }
}

@keyframes card-button {
  to {
    transform: scale(0);
  }
}

@keyframes card-drop {
  to {
    transform: translateY(0);
  }
}

@keyframes card-content {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
