@use "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.sub-text {
  -webkit-animation: slide-in 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: slide-in 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  display: inline-block;
  margin-right: 1rem;
}

.introduction {
  position: absolute;
  font-size: 2rem;
  height: 100%;
  text-align: right;
  font-family: $primary-font-family;
  letter-spacing: normal;
  word-spacing: 10px;

  &__text1 {
    #sub-text1 {
      @extend .sub-text;
    }

    #sub-text2 {
      display: inline-block;
      margin: 0 auto;
      font-family: $secondary-font-family;
      text-align: center;
      font-size: 4.5rem;
      font-weight: 500;
      color: rgb(37, 34, 34);
      animation: slide-ft 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation-delay: 1.2s;

      #single-letter {
        font-weight: bold;
        margin-left: 10px;
        color: #413b3b;
      }

      #last-name {
        top: 10vh;
        margin-left: 10px;
      }
    }
  }

  &__text2 {
    #sub-text1 {
      @extend .sub-text;
      animation-delay: 1.5s;
    }

    #sub-text2 {
      position: relative;
      display: inline-block;
      margin: 0 auto;
      font-family: $secondary-font-family;
      text-align: center;
      font-weight: 150;
      font-size: 2.3rem;
      color: rgb(37, 34, 34);
      -webkit-animation: slide-ft 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: slide-ft 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation-delay: 2.7s;
    }
  }

  &__text3 {
    #sub-text1 {
      @extend .sub-text;
      animation-delay: 3s;
    }

    #sub-text2 {
      display: inline-block;
      margin: 0 auto;
      font-family: $secondary-font-family;
      font-weight: 100;
      text-align: center;
      font-size: 2rem;
      color: rgb(37, 34, 34);
      animation: slide-ft 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation-delay: 3.7s;
    }

    .link {
      transition: all 0.2s ease-in;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__text4 {
    #sub-text1 {
      @extend .sub-text;
      animation-delay: 4.5s;
    }
  }

  &__text5 {
    #sub-text1 {
      @extend .sub-text;
      margin-right: 15px;
      animation-delay: 6s;
    }

    &__button {
      height: 4rem;
      padding: 0.2em 1em;
      font-size: 2rem;
      font-family: $secondary-font-family;
      cursor: pointer;
      text-decoration: none;
      border-radius: 6px;
      border: 1px solid;
      animation: button-fade-in 1.2s ease-in both 7.5s;
      transition: all 0.2s ease-in;

      &:hover {
        mix-blend-mode: normal;
        box-shadow: 3px 10px 20px 1px rgba(0, 0, 0, 0.616);
        text-shadow: 0px 3px 3px white;
        background-image: radial-gradient(rgb(53, 46, 46) 70%, rgb(139, 125, 125));
        transform: scale(1.05);
        color: white;
        border: none;
      }
    }
  }

  @include mixins.respond(tab-land) {
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
    color: white;
    height: 85%;
    top: 5%;
    word-spacing: normal;

    &__text1,
    &__text2,
    &__text3,
    &__text4 {
      #sub-text1 {
        color: white;
        font-weight: bold;
      }
      #sub-text2 {
        mix-blend-mode: screen;
        background-color: white;
        padding: 0px 5px;
        border-radius: 3px;
        font-size: 1.8rem;
      }
    }

    &__text5 {
      #sub-text1 {
        color: white;
        font-weight: bold;
      }

      &__button {
        background-color: transparent;
        color: white;
        display: inline-block;
        font-family: $secondary-font-family;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid white;
        font-size: 2rem;
        padding: 1px 12px;
        text-decoration: none;
        animation: button-fade-in 1.2s ease-in both 7.5s;
        transition: all 0.2s ease-in;

        &:hover {
          mix-blend-mode: normal;
          box-shadow: 3px 10px 20px 1px rgba(0, 0, 0, 0.616);
          text-shadow: 0px 3px 3px white;
          background-image: radial-gradient(rgb(53, 46, 46) 70%, rgb(139, 125, 125));
          transform: scale(1.05);
          color: white;
          border: none;
        }

        &:active {
          bottom: 1.2vh;
        }
      }
    }
  }

  @keyframes slide-in {
    0% {
      -webkit-transform: translateX(-150%);
      transform: translateX(-150%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-ft {
    0% {
      -webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }

  @keyframes button-fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
