@import '../../styles/globalStyles.scss';

.navbar {
  position: relative;
  height: 100%;
  // z-index: 49;

  @media (max-width: $mobile-or-tablet-screen) {
    li {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      svg {
        flex: 1;
        transform: translate(0, 15%);
      }

      span {
        flex: 1;
        line-height: 1.5rem;
        margin-left: 0 !important;
      }
    }
  }
}
