@use "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.introductionSide {
    height: 100%;
    padding-left: 150px;

    &__line {
        width: 130px;
        position: absolute;
        left: 0;
        top: -12px;
    }

    &__title {
        font-family: $font-secondary;
        letter-spacing: 2px;

        &__first {
            margin-bottom: 0.2em !important;
            color: $accent-color !important;
        }

        &__second {
            margin-bottom: 0.5em !important;
            margin-top: 0 !important;
            position: relative;
            left: 10px;
            color: $accent-color !important;
        }
    }

    &__name {
        font-family: $font-primary;
        font-size: 9.6rem !important;
        font-weight: 900 !important;
        color: white !important;
        letter-spacing: 0.03em;
        margin-bottom: 0.3em !important;
    }

    &__briefBio {
        font-family: $tertiary-font;
        font-size: 16px;
        color: white;
        letter-spacing: 0.05em;

        &__divider {
            border-color: #eae3d2;
            height: 1em;
        }
    }

    &__hireMeButton {
        @include mixins.flex(center, center, row);
        border-radius: 20px;
        border-color: $accent-color;
        padding: 16px 45px;
        color: $primary-color;
        font-family: $tertiary-font;
        font-weight: 500;
        // transition: all 0.3s ease-in-out;

        &:hover {
            // box-shadow: 0px 0px 10px $accent-color, 0px 0px 20px $accent-color, 0px 0px 30px $accent-color;
            // transform: translateY(-3px);
        }
    }

    &__socialLinks {
        @include mixins.flex(center, center, row);
        height: 48px;
        width: 48px;
        border-radius: 50%;
        border: 1px solid $accent-color;
        background: white;
        transition: all 0.3s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 10px $accent-color, 0px 0px 20px $accent-color, 0px 0px 30px $accent-color;
            transform: translateY(-3px);
            cursor: pointer;
        }
    }

    &__figmaNote {
        @include mixins.flex(flex-start, center, row);
        font-family: $tertiary-font;
        font-weight: 500;
        font-size: 1.4rem;
        color: #eae3d2;
    }

    @include mixins.respond(desk-small) {
        padding-left: 100px;

        &__line {
            width: 80px;
        }

        &__name {
            font-size: 8rem !important;
        }
    }
}
