@use "styles/_mixins.scss";

.pictureSide {
    height: 100%;
}

.htmlTag {
    position: absolute;
    top: -10px;
    right: 150px;
}

.cssTag {
    position: absolute;
    top: 35px;
    left: 190px;

    @include mixins.respond(desk-small) {
        top: 40px;
        left: 175px;
    }
}

.javascriptTag {
    position: absolute;
    top: 140px;
    left: 60px;
}

.gitHubTag {
    position: absolute;
    left: 0;
    bottom: 220px;

    @include mixins.respond(desk-small) {
        bottom: 100px;
    }
}

.reactTag {
    position: absolute;
    right: 25px;
    top: 150px;
}
