@use "/src/styles/mixins";

.pictureSide {
    height: 100%;
}

.htmlTag {
    position: absolute;
    top: -10px;
    right: 150px;

    @include mixins.respond(desk-small) {
        right: 100px;
    }
}

.cssTag {
    position: absolute;
    top: 35px;
    left: 190px;

    @include mixins.respond(desk-small) {
        top: 5px;
        left: 110px;
    }
}

.javascriptTag {
    position: absolute;
    top: 140px;
    left: 60px;

    @include mixins.respond(desk-small) {
        top: 80px;
        left: 30px;
    }
}

.gitHubTag {
    position: absolute;
    left: 0;
    bottom: 220px;

    @include mixins.respond(desk-small) {
        bottom: 90px;
        left: -50px;
    }
}

.reactTag {
    position: absolute;
    right: 25px;
    top: 150px;
}
