@use "/src/styles/mixins";
@import "/src/styles/typography";
@import "/src/styles/variables";

.projectCardRight {
    &__title {
        @extend .headline;
        margin-bottom: 0 !important;
    }

    &__about {
        margin-top: 55px;
        &__text {
            @extend .body-text;
        }
    }

    @include mixins.respond(desk-small) {
        &__about {
            // margin-top: 0;

            &__text {
                line-height: 1.8em;
            }
        }
    }

    @include mixins.respond(phone) {
        &__title {
            font-size: 1.5rem !important;
        }

        &__about {
            margin-top: 1.5rem;

            &__text {
                font-size: 1rem !important;
            }
        }
    }
}
