@import "/src/styles/variables";
@import "/src/styles/typography";

p .projectSlider {
  height: 100%;
  width: 100%;

  div[class="ant-carousel"] {
    height: 100%;
    width: 100%;
  }

  &__sliderArrow {
    &[id="prevArrow"] {
      left: -3% !important;
    }

    &[id="nextArrow"] {
      right: -3% !important;
    }
  }
}

.customDots {
  top: -8% !important;
  height: 5px;

  li {
    height: 100% !important;
  }

  button {
    background-color: $tertiary-color !important;
    height: 100% !important;
  }
}
