@use "/src/styles/mixins";
@import "/src/styles/variables";

.Home {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  background: $primary-bg-color;

  @include mixins.respond(phone) {
    padding-top: 15px;
  }
}

.arrow {
  position: absolute;
  bottom: 15px;
}
