@use "/src/styles/mixins";
@import "/src/styles/typography";
@import "/src/styles/variables";

.skillsPage {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("../../assets/images/laptopImageBetaUpscale.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: white;

    &__screen {
        background-color: change-color($color: #000, $alpha: 0.6);
    }

    &__header {
        @extend .page-title;
        color: #fff !important;
    }

    &__skills {
        margin-bottom: 20rem;

        &__technical {
            padding: 0px 80px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;

            border-left: none;
        }

        &__soft {
            padding: 0px 80px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border-right: none;
        }
    }

    @include mixins.respond(phone) {
        &__header {
            font-size: 2.5rem !important;
            margin: 5rem 0 !important;
        }

        &__skills {
            margin-bottom: 10rem;
            &__technical {
                padding: 0px;
            }

            &__soft {
                padding: 0px;
            }
        }
    }
}

.skillsSubtitle {
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 25px;
    border: 1px solid $accent-color;

    &__title {
        @extend .subtitle;

        font-size: 2.4rem !important;
    }

    @include mixins.respond(phone) {
        padding: 1rem 2rem;
        margin-bottom: 3rem;

        &__title {
            font-size: 2rem !important;
        }
    }
}
